<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div id="wrapper">
      <%- include('../partials/header') %> <% if (user) { %> <%-
      include('../partials/navigation') %> <% } else { %> <%-
      include('../partials/guestNavigation') %> <% } %>
      <main><%- body %></main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
