<%- include('../layouts/header.ejs') %>

<h1><%= item.name %></h1>

<p>Price: <%= item.price %></p>

<p>Quantity: <%= item.quantity %></p>

<p>
  <a href="/inventory">Back to inventory</a>
</p>

<%- include('../layouts/footer.ejs') %>
